body {
    background: #EFEFEF;
}

body::before {
    content: '';
    background: #535971;
    width: 100%;
    height: 436px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.page {
    margin: auto;
    width: fit-content;
}

header {
    color: white;
    margin-top: 140px;
}

header h1 {
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    
}
header p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

form {
    width: 750px;
    background: white;
    border-radius: 20px 20px 0px 0px;
    padding: 64px;
}

fieldset {
    border: none;
}

fieldset legend {
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #535971;  
}

fieldset hr {
    width: auto;
    border: 1px solid #E6E6F0;
    margin-top: 16px;
    margin-bottom: 32px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4E4958; 
}

.input-wrapper-dual {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
    width: 100%;  
}


.input-wrapper span {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC;
}

.input-wrapper span:hover {
    color: #817d8a;
}


fieldset h1 {
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #535971;
}

.dual-column {
    display: flex;
    gap: 22px;
}

.tri-column {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tri-column > div:nth-child(1) {
    width: 50%;
    margin-right: 32px;
}

.tri-column > div:nth-child(2) {
    width: 25%;
}

.tri-column > div:nth-child(3) {
    width: 25%;
}

input {
box-sizing: border-box;
background: #FAFAFC;
border: 1px solid #E6E6F0;
border-radius: 8px;
height: 56px;
margin-top: 8px;
margin-bottom: 8px;
padding: 15px;

font-family: 'Poppins';
font-weight: 400;
font-size: 20px;
color: #4E4958;
}

footer {
    height: auto;
    background:#535971;
    width: auto;
    border-radius: 0 0 20px 20px;
    padding: 53px 71px;  
}

button {
    width: 608px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    background: #FF5374;
    border-radius: 20px;
    border: 0;
    margin: auto;
}

button p {
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

button:hover {
    background: #B4233F;
}
   